
<div class="row">
    <div class="col-md-6">
        <%= image_tag('ipad.jpg', class: 'img-responsive', id: 'iPad') %>
    </div>
    <div class="col-md-6">
    <h1 class="">Vind en iPad!</h1>
    <p class="lead">Vi udlodder en række iPads, udfyld skemaet herunder for at deltage i konkurrencen.</p>
        <%= render 'users/form' %>
    </div>
</div>