<div class="row">
    <div class="col-md-6">
        <%= image_tag('ipad.jpg', class: 'img-responsive', id: 'iPad') %>
    </div>
    <div class="col-md-6">
        <%= render 'users/form' %>
    </div>
</div>