@import "bootstrap";
@font-face {
    font-family: 'TDC';
    src: font-url('TDC_Rg.ttf') format('truetype')        
}


// Forms
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// Navigation
.navbar {
    height: 60px;
    border-radius: 0px;
    margin-bottom: 20px;
}

.nav-link {
    padding: 0 13px 0 10px;
    margin: 3px 0;
    font-size: 18px;
    position: relative;
    color: white !important;
    float: left;
    text-decoration: none;
    display: inline-block;
    
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'TDC';

}

.active {
    text-decoration: underline;  
}
