<nav class="navbar" style="background-color: #192228;">
<div class="container">
  <a class="navbar-brand" href="#"><%= image_tag('tdclogo.png') %> </a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Hjem <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <%= link_to "Konkurrence", root_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Løsninger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hjælp</a>
    </li>
  </ul>
  
  </div>
</nav>